@font-face {
    src: url('../../../../res/fonts/Montserrat-Regular.ttf') format('ttf');
}

.button{
    -fx-background-color: #4E68F1;
    -fx-background-radius: 30;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
    -fx-font-family: Montserrat;
}

.scroll-bar:vertical{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
    -fx-padding: 10 10 20 0;
}

.scroll-bar:vertical .thumb{
    -fx-background-color :#4E68F1;

}

.combo-box{
    -fx-background-radius: 30;
}